daily-assisted-journal-backend/venv
daily-assisted-journal-backend/.pytest_cache/
daily-assisted-journal-backend/__pycache__/
daily-assisted-journal-backend/app/__pycache__/
daily-assisted-journal-backend/tests/__pycache__/
daily-assisted-journal-backend/firebaseServerKey.json
daily-assisted-journal-backend/app/.env
daily-assisted-journal-backend/.DS_Store
.DS_Store
.vscode/
