@import "tailwindcss";

@theme {  
  --font-display: "Fredoka", "Futura", "sans-serif"; 
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@utility background-saturated {
  @apply bg-gradient-to-br from-amber-200 to-sky-400
}

@utility background {
  @apply bg-gradient-to-br from-amber-200 to-sky-300
  /* @apply bg-white */
}

@utility text-color-main {
  @apply text-gray-700
}

@utility text-color-main-title {
  @apply text-gray-800 
}

@utility bg-glass {
  @apply shadow bg-white/10 rounded-2xl 
}